body {
  background-color: rgb(45, 211, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

form {
  width: 300px;
  background-color: #ffffff22;
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
}

form div {
  margin-bottom: 12px;
}

label {
  color: white;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

input,
button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
}

input {
  border: none;
  border-radius: 6px;
  background-color: white;
}

button {
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
}

button:active {
  opacity: 0.8;
}

.clear {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: underline;
}

.solid {
  background-color: white;
  border: none;
  color: rgb(45, 211, 111);
  font-weight: bold;
}

.outline {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}
